@import './animation.css';
body {
  background-color: gainsboro;
  font-family: 'Arial', sans-serif;
  list-style-type: none;
}
*:focus {
  outline: none;
}

.todo__form__button, 
.todo__form__input {
  border-radius: 1em;
  padding: 2em;
}
.todo__form {
  display: flex;
  justify-content: space-evenly;

}

.todo__form__input:hover,
.todo__form__button:hover,
.todo__card__done--button:hover {
  cursor: pointer;
}

.todo__form,
.todo__list h1{
  text-align: center;
}

.todo__list h1,
.todo__card__task,
.todo__card__done {
  font-size: 2em;
  border-bottom: 1px ridge black;
}

.todo__form__button, 
.todo__list h1,

.todo__card__done--button {
  color: white;
}

.todo__card__task,
.todo__card__done {
  color: black;
}

.todo__form {
  border: 1px solid black;
  background-color: #222831;
}

.todo__form__input {
  background-color: #EEEEEE;
}

.todo__form__input:hover {
  background-color: lightcyan;
}

.todo__form__button {
  margin-left: 1em;
  background-color: #393e46;
}

.todo__form__button:hover {
  background-color: #355C7D;
}

/* The Todo List  */
.todo__list {
  background-color: darkgrey;
  border-bottom: ridge 3px black;
}

.todo__list__cards {
  flex-direction: column;
  display: flex;
}

.todo__list h1 {
  margin: 0;
  background: linear-gradient(to right, #009fff, #ec2f4b);
}

.todo__card__task {
  animation: 2s fadeInUp;
  background: linear-gradient(to right, #ed213a, #93291e);
  color: white;
  order: 0;
}

.todo__card__task:hover {
  background: linear-gradient(to right, #af3342, #6d2d26);
}

.todo__card__done {
  animation: 2s fadeIn;
  background: linear-gradient(to right, #a8ff78, #78ffd6);
  text-decoration: line-through;
  color: white;
  order: 1;
}

.todo__card__done:hover {
  background: linear-gradient(to right, #91d66c, #7bceb5);
}

.todo__card__done--button {
  font-size: 13px;
  float: right;
  background-color: crimson;
}
.todo__card__done--button:hover {
  background-color: red;
}

@media (min-width: 960px) {
  .todo__form {
    display: flex;
    justify-content: center;
  }
  .todo__app {
    margin: 0 auto;
    width: 100%;
    background-color: gainsboro;
  }
}
